<h1 title="Study-Advisor / Test-study">Study-Advisor / Test-study</h1>


<% if current_user %>
  Logged in as <%= current_user.username %>.
  <% if current_user.username == "admin" %>
    <a href="/users/new" title="Create a new user">Create a new user</a>
  <%end%>
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Log In", login_path %>
<% end %>

